<div class="apply-to-join">
<div class="applications-open">
  <p><a class="button buying"
        href="https://zee8.typeform.com/to/b9wyG6"
        data-goal="Began application"
        data-type="button"
        data-category="Applying"
        data-engagement-level="Buying">Join Us!</a></p>
  <p>It's only $5 for a lifetime membership!</p>
</div>

<p class="applications-closed">
Sorry! Applications are currently closed. If you <strong>really,
  really</strong> want to participate, <a
   href="mailto: hello-ac@apprenticeship.community">send us an e-mail</a>
detailing why you're interested and what qualities you bring to the
community.
</p>
</div>
