<p>We rely on the generous support of our community members to pay our
community team and copy editors. If you've got a few bucks a month to
spare, we'd love if you'd <a class="buying"
                             href="https://www.patreon.com/apprenticeship"
                             data-category="Patronizing"
                             data-engagement-level="buying"
                             data-goal="Begin becoming a patron"
                             data-order="first"
                             data-type="link"
                             >become a patron.</a>

<p class="become-a-patron">
</p>
