.button-container, .become-a-patron, .join-mailing-list, .apply-to-sponsor, .applications-open {
  text-align: center;
}

#community-rules {
  > main {
    @include outer-container;

    article {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

#about {
  @include outer-container;

  article {
    @include span-columns(6);
    @include omega(2n);
  }
  .newsletter {
    @include span-columns(12);
    label {
      @include span-columns(4);
    }
    button {
      @include span-columns(4);
    }
  }
}
