@import "bourbon/bourbon";
@import "neat";
@import "typography";
@import "forms";
@import "home";

q {
  quotes: "“" "”" "‘" "’";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}


body {
  margin-top: emRhythm(4, $ms-down1);

  > main > section {
    margin-bottom: emRhythm(3, $ms-down1);
    @include span-columns(12);
  }

  > header, > main, > footer {
    @include outer-container;
    margin-bottom: emRhythm(3, $ms-down1);
  }

  > footer {
    p  {
      @include span-columns(4);
      @include shift(4);
    }

  }
}

#logo {
  padding-bottom: emRhythm(3, $ms-down1);
  border-bottom: $base-border;
}

#content {
  > section {
    border-bottom: $base-border;
    margin-bottom: emRhythm(3, $ms-down1);

    &.bottom {
      border: none;
    }
  }
}
