@import "bourbon/bourbon";
$mobile: new-breakpoint(max-width 768px 4);
$desktop: new-breakpoint(min-width 769px 12);
@import "neat";
@import "typography";
@import "forms";
@import "home";
@import "events";

body > header {
  h1 {
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }

  }
}

nav {
  a {
    margin-top: emRhythm(3, $ms-up1);
    margin-right: emRhythm(3, $ms-up1);
  }
}


body {
  margin-top: emRhythm(4, $ms-down1);
  padding: 0 emRhythm(4, $ms-down1);

  > main > section {
    @include span-columns(12);
  }

  > header, > main, > footer {
    @include outer-container;
  }
}

#logo {
  padding-bottom: emRhythm(3, $ms-down1);
  border-bottom: $base-border;
}

#content {
  > section {
    border-bottom: $base-border;
    margin-bottom: emRhythm(3, $ms-down1);

    &.bottom {
      border: none;
    }
  }
}
