@import "bourbon/bourbon";
@import "neat";
@import "typography";
@import "forms";
@import "home";
@import "events";

body > header {
  h1 {
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }

  }
}

nav {
  a {
    margin-top: emRhythm(3, $ms-up1);
    margin-right: emRhythm(3, $ms-up1);
    @include media($mobile) {
      @include fill-parent();
    }
  }
}


body {
  margin-top: emRhythm(4, $ms-down1);
  padding: 0 emRhythm(4, $ms-down1);

  > main > section {
    @include fill-parent();
  }

  > header, > main, > footer {
    @include outer-container;
  }
  > header {
    margin-bottom: emRhythm(3, $ms-down1);
  }
}

#content {
  > section {
    margin-bottom: emRhythm(3, $ms-down1);
  }
}

footer {
  @include fill-parent();
}
