---
layout: default
js: [home]
---
<section id="about">
  <p>The Apprenticeship Community is a safe-to-learn environment full of interesting and talented people who recognize that the best way to improve is to be open about what they don't know and get advice from others. While we do charge a nominal $5 fee to join, those who require assistance may waive the fee by sending an email to <a href="mailto: hello-ac@zincma.de">hello-ac@zincma.de</a>. We strive to be a respectful, inclusive community and have a <a href="/code-of-conduct.html">strong code of conduct.</a></p>

  <p>If this sounds like something you're interested in, <a class="buying"
    data-position="in-about"
    href="https://zee8.typeform.com/to/b9wyG6"
    data-goal="Began application"
    data-type="link"
    data-category="Applying"
    data-engagement-level="Buying">fill out our application form to become a member today</a>! For those of you who are already members, <a class="engaging"
          href="https://apprenticeship.slack.com"
          data-position="in-about"
          data-category="Chatting"
          data-engagement-level="engaging"
          data-goal="Begin signing into chat"
          data-type="link">log in to our chat!</a></p>
  <section class="newsletter">
    {% include newsletter-form.html %}
  </section>
</section>

<section id="upcoming-events">
  <header>
    <h3>Upcoming Events</h3>
  </header>
  <div class="content">
    {% for event in site.categories.events %}
      {% if event.start-time > site.time %}
        {% include event.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<section id="past-events">
  <header>
    <h3>Past Events</h3>
  </header>
  <div class="content">
  {% for event in site.categories.events limit: 4 %}
    {% if event.start-time < site.time %}
      {% include event.html %}
    {% endif %}
  {% endfor %}
  </div>
  <footer>
    <a href="/events/" class="button">More events</a>
  </footer>
</section>
