---
layout: default
title: The Apprenticeship Community
js: [home]
---
<section id="announcements">
  <p>Our second #Apprenticeship Twitter Chat is next
  Tuesday. We'd love to <a
  href="https://waffle.io/zincmade/apprenticeship.community-wip/cards/54f4a7c51fb2a01c0042568d">hear
your thoughts for a topic!</a>
  </p>
</section>
<section id="about">
  <article>
    <main>
      <p>We're a peer learning group of cross-skilled practitioners who foster work cultures of learning
      and growth around the world. We <a id="ep-0" class="exploring"
                                                        data-position="top-left"
                                                        data-category="Events"
                                                        data-engagement-level="exploring"
                                                        data-goal="View upcoming events and articles"
                                                        data-order="first"
                                                        data-type="link"
                                                        href="https://waffle.io/zincmade/apprenticeship.community-wip">
                                                        host regular events and
                                                        publish informative articles.</a>
      </p>
      <section class="top apply-to-join">
        {% include application-form.html %}
      </section>
    </main>
  </article>
  <article>
    <section class="patrons">
      {% include patron-cta.html %}
    </section>
  </article>
  <section class="newsletter">
    {% include newsletter-form.html %}
  </section>
</section>

<section class="faqs">
  <header>
  <h2>Frequently Asked Questions</h2>
  </header>
  <main>
  {% for faq in site.categories.faqs %}
    <article>
      <header>
        <h4>{{ faq.title }}</h4>
      </header>
      <main>
        {{ faq.content }}
      </main>
    </article>
  {% endfor %}
  </main>
  <footer>
    <p>If you still have questions, send us <a
      href="mailto: hello-ac@apprenticeship.community">an
      email</a> or <a
    href="http://twitter.com/pprenticeship">tweet</a>.
  </footer>
</section>
