<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1000">
  {% stylesheet site %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  {% javascript site %}

  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% endif %}

  {% for js in page.js %}
    {{ js | javascript }}
  {% endfor %}

  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
    analytics.load("{{ page.segment_token}}");

    {% if page.page_id %}
      analytics.page("{{ page.page_id }}")
    {% else %}
      analytics.page();
    {% endif %}
  }}();
  </script>
</head>
{% if page.page_id %}
<body id="{{ page.page_id }}">
{% else %}
<body>
{% endif %}
  <header id="logo">
    <h1>{{ page.title }}</h1>
    <nav>
      <a class="button engaging"
         href="https://apprenticeship.slack.com"
         data-position="nav"
         data-category="Chatting"
         data-engagement-level="engaging"
         data-goal="Begin signing into chat"
         data-type="button">Log In To Chat</a>

      <a class="exploring"
         data-position="nav"
         data-category="Events"
         data-engagement-level="exploring"
         data-goal="View home"
         data-type="link"
         href="/">Home</a>

         <a class="exploring"
         data-position="nav"
         data-category="Rules"
         data-engagement-level="evaluating"
         data-goal="View Code of Conduct"
         data-type="link"
         href="/code-of-conduct.html">Code of Conduct</a>

        <a class="exploring"
         data-position="nav"
         data-category="Articles"
         data-engagement-level="exploring"
         data-goal="View articles"
         data-type="link"
         href="/articles">Articles</a>

      <a class="exploring"
         data-position="nav"
         data-category="Events"
         data-engagement-level="exploring"
         data-goal="View events"
         data-type="link"
         href="/events">Events</a>

      <a class="engaging"
         data-position="nav"
         data-category="Suggestions"
         data-engagement-level="engaging"
         data-goal="Begin making suggestion"
         data-type="link"
         href="https://waffle.io/zincmade/apprenticeship.community-wip">Make a Suggestion</a>

      <a class="engaging"
         data-position="nav"
         data-category="Contributors"
         data-engagement-level="engaging"
         data-goal="View contributor page"
         data-type="link"
         href="/contributing.html">Become a Contributor</a>
    </nav>
  </header>
  <main id="content">
    {{ content }}

    <hr />
    <section>
      <p>We're a peer learning group of cross-skilled practitioners who foster work
      cultures of learning and growth.</p>

      {% include application-form.html %}

      {% include patron-cta.html %}
    </section>
  </main>
  <footer>
    <p>&copy; 2015 The Apprenticeship Community.</p>
  </footer>
</body>
</html>
